@font-face {
	font-family: "icon";
	src: url("../fonts/icon.eot?m5w73i");
	src: url("../fonts/icon.eot?m5w73i#iefix") format("embedded-opentype"),
		url("../fonts/icon.ttf?m5w73i") format("truetype"), url("../fonts/icon.woff?m5w73i") format("woff"),
		url("../fonts/icon.svg?m5w73i#icon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bones:before {
	content: "\e900";
	font-size: 1.3em;
}
.icon-fruit:before {
	content: "\e901";
	font-size: 1.2em;
}
.icon-liver:before {
	content: "\e902";
}
.icon-meat:before {
	content: "\e903";
}
.icon-nuts:before {
	content: "\e904";
	font-size: 1.3em;
}
.icon-offal:before {
	content: "\e905";
	font-size: 1.3em;
}
.icon-vegetables:before {
	content: "\e906";
	font-size: 1.3em;
}
